*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: hsl(217, 28%, 15%);
    font-size: 14px;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
cursor: pointer;
margin-right: auto;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.navlinks li a:hover {
    color: #0088a9;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 50px 0px 100px;
}
.hero p, h1, button{
font-size: 20px;
width: auto;
}
.hero button {
    width: 25%;
    border-radius: 20px;
    padding: 8px;
    border: 2px solid white;
    margin: 15px 6px 0px 0px;
    background: skyblue;
    transition: 0.5s ease;
    font-size: 15px;
}
/* i am having isue centering this */
.icon{
    display: flex;
    justify-content: center;
   }




.section-test {
    position: relative;
    margin: 40px 0px 300px 0px;
}
.quote {
    margin-left: 100px;
}
.testimonials {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 110px;
    color: darkgrey;
}
.testimonial-i {
    border: 1px solid hsl(219, 30%, 18%);
    background-color: hsl(219, 30%, 18%);
    color: darkgrey;
    font-size: 14px;
    padding: 50px 30px;
    margin: 0px 25px 0px 0px;
    box-shadow: 10px 10px hsl(217, 28%, 16%);
}
.test-sec {
    display: flex;
    background-color: hsl(219, 30%, 18%);
    font-size: 8px;
    margin-top: 30px;
}
.image-t {
    width: 23px;
    border-radius: 50%;
}
.footer {
    background-color: hsl(219, 53%, 9%);
}
.footer-logo {
    background-image: url("logo.svg");
}
.footer-2 {
    display: flex;
    justify-content: center;
}
.phoneline {
    margin: 15px;
}
.social {
    background-color: a;
    border-radius: 50%;
}
